<h1 class="header_of_page">New User Signup</h1>
<form method="post" action="/users">
  <label>Username:</label>
  <input type="text" name="users[username]">
  <label>Email:</label>
  <input type="text" name="users[email]">
  <label>Age:</label>
  <input type="text" name="users[age]">
  <button type="submit">Register!</button>
</form>
